body {
  margin: 40px;
}

.instructions {
    background-color: rgb(255, 255, 240);
    color: black;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 100px minmax(100px, auto);
    background-color: #fff;
    color: #444;
    width: 90vw;
    height: 90vh;
  }

  .box {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 20px;
    /* font-size: 150%; */
  }

  .paper {
      border: 1px;
      border-color: black;
      border-style: solid;

      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 1em;
      margin-left: 1em;

      font-family: monospace;
      background-color: rgb(255, 255, 240);
  }

  .lw66 {
      grid-column: 2 / 2;
      grid-row: 2 / 2;

      overflow-y: scroll;
      padding: 20px;
  }

  #lw66-history {
      border: 0px;
  }

  #lw66-current-line {
      border: 0px;
      background-color: rgb(255, 255, 180);
  }

  .nojs-warning {
      background-color: red;
      color: black;
      border: 4px;
      border-style: solid;
  }

  .status {
      grid-column: 1 / span 2;
      grid-row: 1 / 1;
  }
  .buttons {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .lw-red {
    color: red;
  }

  .lw-black {
    color: black;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
